/** BRAND COLORS 
* lightBlue: #3a74ba
* darkBlue: #0d2d54
* pink: #cd4160
* darkGreen: #222e2e
*/

* {
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
